body {
  height: 100%;  /* Full height to the root elements */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
  position: relative;
}

header img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

header h1 {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: 2em;
}

.form-container {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container input,
.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.form-container button {
  background-color: #333;
  color: white;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #555;
}

.content {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.result-container {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0; /* Increased padding for better spacing */
}

footer div {
  margin-bottom: 10px; /* Added margin between footer elements */
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold; /* Make the link text bold */
  display: inline-flex;
  align-items: center;
}

footer a i {
  margin-right: 5px; /* Space between icon and text */
}

footer .disclaimer {
  font-size: 0.9em; /* Slightly smaller text for the disclaimer */
  margin-top: 15px; /* Added margin to separate the disclaimer from other elements */
  padding: 0 20px; /* Added padding for better readability */
}

@media (max-width: 768px) {
  footer div {
    margin-bottom: 5px; /* Adjusted margin for smaller screens */
  }
  footer .disclaimer {
    padding: 0 10px; /* Reduced padding for smaller screens */
  }
}

@media (min-height: 700px) {
  .content {
    min-height: calc(100vh - 210px); /* Adjust based on header/footer size */
  }
}
/* Existing CSS styles */

@media only screen and (max-width: 768px) {
  header img {
    display: none; /* Hide the logo on screens with a maximum width of 768px */
  }
}
